@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1320px;
}

.banner {
    background-image: url("images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 600px;
    margin: 50px 140px 0px 140px;
}

.banner2 {
    background-image: url("Images/Vectorrr.png");
    display: flex;

}

.title-margin {
    color: #FFF;
    text-align: center;
    line-height: normal;
    padding: 115px 250px;
}

.banner .title-margin h2 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
}

.banner .title-margin p {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.section-des {
    color: #F00;
    text-align: center;
    font-family: Inter;
    line-height: normal;
    margin: 0 auto;

    /* justify-content: space-between; */
}

.section-des h1 {
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;

}

.section-des h3 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.section-des P {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.section-img img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    max-height: 500px;
}

.section2-des {
    margin: 126px 0 0 126px;
    color: #FFF;
}

.section2-des h2 {

    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.section2-img img {
    margin: 68px 138px 68px 40px;
}

.section2-des p {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.section2-des button {
    color: #FFF;
    background-color: transparent;
    border: 0;
    margin: 48px 0 140px 160px;
}

.placebg {
    height: 400px;
    background-color: cadetblue;
    border-radius: 16px;
    margin: 0 0 140px 160px;
    width: 100%;
    text-align: center;
}

.sec3text {
    /* padding: 115px; */
}

.img-felx{
    display: flex;
    align-items: center;
    padding: 24px;
}

.cimg{
    margin-left: 15px ;
    margin-right: 15px;
}
.subscription-box {
    height: 600px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px 140px;
}
.subscription-box img{
    position: relative;
    left: 50%;
    bottom: 50%;
    padding-top: 40px;
}

.sub-des h2 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sub-des p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.subsbtn input {
    /* margin: 80px 336px; */
}



/* footer */

footer {
    background-color: #070211;
    background-size: cover;

}

.footer-des {
    height: 600px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;

}

.hr1 {
    border: 1px solid white;
    width: 80%;
    align-items: center;
    margin: 50px auto;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin
}

.copy {
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Inter;
    font-size: 24px;
    padding: 50px 140px 120px 140px;
}

.copy button {
    color: #FFF;
    background-color: transparent;
    border: 0;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}